<h3>Eisen dataset</h3>
<p class="alert alert-info">Om een dataset automatisch te kunnen verwerken en tonen moet deze aan een aantal voorwaarden voldoen:</p>

<ul>
    <li>De dataset moet een kolom met unieke HG-identifiers (uit de Historische Geocoder) bevatten. Dit kunnen panden, bonnen of wijken zijn.
    </li>
    <li>De dataset moet als CSV-bestand in UTF-8 formaat worden aangeleverd. Dus zorg er (in je spreadsheetprogramma) voor dat je bij het exporteren naar .csv  Unicode / UTF-8 kiest als "text encoding". Meestal staat dit ergens bij de exporteereigenschappen.
    </li>
    <li>
        De dataset dient gestandaardiseerde waarden te bevatten (eenduidige benamingen voor bijvoorbeeld beroepen).
        Als er te veel verschillende eenheden gebruikt worden, dan kan dit effect hebben op het functioneren van de applicatie.
    </li>
    <li>
        Numerieke waarden dienen echte getallen zijn (en geen strings), zodat het mogelijk is om berekeningen uit te voeren.
    </li>
</ul>