{% extends "::base.html.twig" %}

{% set active_page = 'map' %}

{% block content %}
    <div id="map"></div>

    <div id="legend">
        <h4 id="datasetTitle">Beschikbare kaarten</h4>

        <div id="properties"></div>
    </div>
{% endblock %}

{% block javascripts %}

    <script>
        $(document).ready(function () {

            // init map first
            var map = L.map('map', {
                center: [52.16, 4.49], // leiden
                zoom: 17,
            });

            map.addLayer(cartodb);

            // use fancy definitions
            var baseMaps = mapDefinitions;
            $.each(mapDefinitions, function (index, baseMap) {
                baseMaps[baseMap.name] = baseMap.layer;
            });

            var overlayMaps = [
                {
                    group: "Datasets",
                    collapsed: true,
                    layers: []
                }
            ];

// fetch available datasets
            var datasets = $.ajax({url: '{{ app.request.baseUrl }}/api/files/geojson'});
            datasets.then(function (data) {
                $.each(data, function (index, file) {
                    var dataset = {
                        name: file.title,
                        active: true,
                        icon: '<i class="fa fa-square-o"></i>',
                        layer: (function () {
                            var l = L.geoJson(data, {
                                style: { color: sequentialColors[index] },
                                onEachFeature: eachPand
                            });
                            $.getJSON("{{ app.request.baseUrl }}/serve/geojson/" + file.csvName, function (j) {
                                l.addData(j);
                            });
                            return l;
                        }())
                    };

                    if (index == 0){
                        map.addLayer(l);
                        map.fitBounds(l.getBounds(), {
                            padding: [0, 0]
                        });
                    }
                    overlayMaps[0].layers.push(dataset);
                });

                var panel = new L.Control.PanelLayers(baseMaps,overlayMaps, { collapsibleGroups: true }).addTo(map);
            });


        });

    </script>

{% endblock %}