.ajax-fb {
    top: 50px;
    font-size: 1.2em;
    margin-top: 0;
    padding: 1em 1.3em;
    position: fixed;
    right: 0;
    z-index: 2000;
}

.saving-spinner {
    top: 50px;
    font-size: 1.2em;
    margin-top: 0;
    padding: 1em 1.3em;
    position: fixed;
    right: 20px;
    z-index: 1998;
}

.pos {
    color: green;
}
.neg {
    color: red;
}


/** MAP STUFF */
#map {
    position: absolute;
    width: 100%;
    top: 40px;
    bottom: 0;
}

#legend {
    position: absolute;
    width: auto;
    max-width: 300px;
    height: auto;
    top: 60px;
    left:60px;
    z-index: 9999;
    background: #fff;
    padding:10px;
}
.table-condensed > tbody > tr > td, .table-condensed > tbody > tr > th, .table-condensed > tfoot > tr > td, .table-condensed > tfoot > tr > th, .table-condensed > thead > tr > td, .table-condensed > thead > tr > th {
    padding: 2px;
}

input.pdx-number, select.pdx-number {
    width: 100px;
}

textarea.pdx-textarea {
    height: 200px;
}

select.input-sm[multiple] {
    height: 140px;
}

.bit-bigger {
    font-size: 14px;
    line-height: 1.6;
}


.form-horizontal .form-group {
    margin-left: 0;
    margin-right: 0;
}

.leaflet-panel-layers-item span {
    margin-left: 4px;
}

/* --- Spinners --- */
.spinner-overlay,
.simple-overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(46, 90, 135, 0.3); /*-- same as #5F0044 but with added alpha channel --*/
    z-index: 10;
}
.spinner,
.simple-overlay div {
    margin: 0 auto;
    width: 100px;
    position: relative;
    text-align: center;
    /* vertical align */
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}
.simple-overlay div {
    width: 80%;
}
.spinner > div {
    width: 16px;
    height: 16px;
    background-color: #2e5a87; /*-- primary color --*/
    border-radius: 100%;
    display: inline-block;
    margin-right: 5px;
    animation: sk-bouncedelay 1.7s infinite ease-in-out both;
}
.spinner .spinner__item1 { animation-delay: -0.60s; }
.spinner .spinner__item2 { animation-delay: -0.40s; }
.spinner .spinner__item3 { animation-delay: -0.20s; }
@keyframes sk-bouncedelay {
    0%, 80%, 100% {
        transform: scale(0);
        opacity: 0;
    } 40% {
          transform: scale(1.0);
          opacity: 1;
      }
}